parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Overblog\\\\GraphQLBundle\\\\Configuration\\\\InterfaceConfiguration\\|Overblog\\\\GraphQLBundle\\\\Configuration\\\\ObjectConfiguration\\:\\:setInterfaces\\(\\)\\.$#"
			count: 1
			path: src/ConfigurationParser.php

		-
			message: "#^Call to an undefined method Overblog\\\\GraphQLBundle\\\\Configuration\\\\InterfaceConfiguration\\|Overblog\\\\GraphQLBundle\\\\Configuration\\\\ObjectConfiguration\\:\\:setResolveField\\(\\)\\.$#"
			count: 1
			path: src/ConfigurationParser.php

		-
			message: "#^Call to an undefined method Overblog\\\\GraphQLBundle\\\\Configuration\\\\TypeConfiguration\\:\\:setDeprecationReason\\(\\)\\.$#"
			count: 1
			path: src/ConfigurationParser.php

		-
			message: "#^Parameter \\#1 \\$value of method Symfony\\\\Component\\\\Yaml\\\\Parser\\:\\:parse\\(\\) expects string, string\\|false given\\.$#"
			count: 1
			path: src/ConfigurationYamlParser.php

		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: src/DependencyInjection/OverblogGraphQLConfigurationYamlExtension.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$values of function sprintf expects bool\\|float\\|int\\|string\\|null, array\\|bool\\|float\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/DependencyInjection/OverblogGraphQLConfigurationYamlExtension.php

		-
			message: "#^Method Overblog\\\\GraphQLConfigurationYamlBundle\\\\Processor\\\\BuilderProcessor\\:\\:getBuilder\\(\\) should return Overblog\\\\GraphQLBundle\\\\Definition\\\\Builder\\\\MappingInterface but returns object\\.$#"
			count: 1
			path: src/Processor/BuilderProcessor.php
